<style>
  *{transition: all .3s ease;}
  dd dl
  ,dl dl
  ,dd input
  ,dl input{margin-left: .75em;color: black;margin-bottom: 10px;}
  dd dl:before
  ,dl dl:before{content: '--';color: lightgray;}
  input[contenteditable=true]{border-bottom: 1px solid blue;outline: none;padding: 0 5px 2px;background: none;}
  input[contenteditable=true]:focus{border-bottom: 1px solid red;background: lightpink;}
  iframe img{display: none;}
</style>

<body >
  <div class="col-xs-6" ng-controller='loopCtrl' ng-keyup='logData($event)'>
    <dd ng-repeat="(el,vl) in data track by $index" ng-show="el!= '_id'" contenteditable="false">{{el}} :
      <input ng-if="!isObject(vl)" ng-model="vl"/>
      <dl ng-repeat="(ek,vk) in vl track by $index" ng-if="isObject(vl)">{{ek}} :
        <input ng-if="!isObject(vk)" ng-model="vk"/>
        <dl ng-repeat="(ej,vj) in vk track by $index" ng-if="isObject(vk)">{{ej}} :
          <input ng-if="!isObject(vj)" ng-model="vj"/>
          <dl ng-repeat="(eh,vh) in vj track by $index" ng-if="isObject(vj)">{{eh}} :
            <input ng-if="!isObject(vh)" ng-model="vh"/>
            <dl ng-repeat="(eg,vg) in vh track by $index" ng-if="isObject(vh)">{{eg}} :
              <input ng-if="!isObject(vg)" ng-model="vg"/>
              <dl ng-repeat="(ef,vf) in vg track by $index" ng-if="isObject(vg)">{{ef}} :
                <input ng-if="!isObject(vf)" ng-model="vf"/>
                <dl ng-repeat="(ed,vd) in vf track by $index" ng-if="isObject(vf)">{{ed}} :
                  <input ng-if="!isObject(vd)" ng-model="vd"/>
                  <dl ng-repeat="(es,vs) in vd track by $index" ng-if="isObject(vd)">{{es}} :
                    <input ng-if="!isObject(vs)" ng-model="vs"/>
                    <dl ng-repeat="(ea,va) in vs track by $index" ng-if="isObject(vs)">{{ea}} :
                      <input ng-if="!isObject(va)" ng-model="va"/>
                    </dl>
                  </dl>
                </dl>
              </dl>
            </dl>
          </dl>
        </dl>
      </dl>
    </dd>
  </div>
</body>


<script src="/bower_components/angular/angular.min.js"></script>
<script >
  angular.module('test', [])
  .controller('loopCtrl', [
    '$scope'
    ,'$http'
    ,function(vm, ajax){
      vm.isObject= function(o){
        return angular.isObject(o)
      }
      vm.logData= function(eve){
        var _key= eve.which|| eve.keyCode
        console.info(_key)
        if(_key== 13){
          console.info(vm.data)
        }
      }
      ajax.get('data.json')
      .then(function(res){
        console.info(vm, res)
        vm.data= res.data
      })
    }
  ])
  angular.bootstrap(document, ['test'])
</script>
