@charset "utf-8";
/*@font-face{font-family: glyphicons;src:url('http://apps.bdimg.com/libs/bootstrap-glyphicons/1.0/fonts/glyphiconshalflings-regular.eot') format('embedded-opentype'), url('http://apps.bdimg.com/libs/bootstrap-glyphicons/1.0/fonts/glyphiconshalflings-regular.woff') format('woff'), url('http://apps.bdimg.com/libs/bootstrap-glyphicons/1.0/fonts/glyphiconshalflings-regular.ttf') format('truetype'), url('http://apps.bdimg.com/libs/bootstrap-glyphicons/1.0/fonts/glyphiconshalflings-regular.svg') format('svg');}*/
@font-face{font-family: fontawesome;src:url('http://cdn.bootcss.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('http://cdn.bootcss.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff') format('woff'), url('http://cdn.bootcss.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('http://cdn.bootcss.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg') format('svg');}
*{margin:0;padding:0;word-wrap:break-word;font-size: 1rem;outline: none;-webkit-appearance:none!important;-webkit-tap-highlight-color:rgba(255,255,255,0)!important;}
a{color:#4f4f4f;outline:medium none; text-decoration:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
p{margin: 0 0;}
big{font-size: larger;}
biggest{font-size: xx-large;}
small{font-size: smaller;}
smallest{font-size: .5em;}
html{min-height:100%;background: #f4f4f4;-webkit-appearance:none;}
li{list-style:none;}
table{border-collapse:collapse; border-spacing:0;}
th,td{padding:0;}
input,button,select,input:active,button:active,select:active,input:hover,button:hover,select:hover,textarea{outline:none;border:none;background: none;-webkit-tap-highlight-color:rgba(255,255,255,0)!important;}
a{color:#4f4f4f;outline:medium none; text-decoration:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
a:hover{color:#4f4f4f; text-decoration:none;}
ul{list-style:none;}
img{vertical-align: text-bottom;}
.clear{clear:both;min-height: .1px;zoom:1;}
.full-width{width:100%;padding:0;}
.full-height{height:100%;padding:0;}
.half-width{width:50%;max-width: 50%;}
.half-height{height:50%;max-height: 50%;}
.text-left{text-align: left;}
.text-center{text-align: center;vertical-align: middle;}
.text-right{text-align: right;}
.text-justify{text-align: justify;text-justify:auto;}
.text-p{text-indent: 2em;}
.center-block{margin: 0 auto;display: block;}
.hide{display: none;}
.show{display: block;}
.pull-left{float: left!important;}
.pull-right{float: right!important;}
.fix-pd-top{padding-top: 0!important;}
.fix-pd-bottom{padding-bottom: 0!important;}
.fix-pd-left{padding-left: 0!important;}
.fix-pd-right{padding-right: 0!important;}
.blacksheepwall{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(9,9,9,.9);text-align: center;margin:0 auto;padding:45% 0 0 0;}
/*avalon preload*/
[ms-controller]{visibility: hidden;}
.mass_sys_log{display: none;visibility: hidden;}

/*****zy style*****/
.p{margin-bottom: .5em;line-height: 1.5em;}
p.zyo-box-title{padding-left: 5px;}
.b{font-weight: bold;}
.img-responsive{max-width: 100%;}
.circle{border-radius: 100%;}
.zyo-box{padding-top:10px;padding-bottom: 10px;background: white;border-style: solid;border-color: #dcdcdc;border-width: 1px 0 1px 0;margin-bottom:10px;}
.zyo-box.zyo-box-first{margin-bottom: -1px;border-top: 1px solid lightgray;border-bottom: none;}
.zyo-box.zyo-box-last{margin-top: -10px;border-bottom: 1px solid lightgray;border-top: none;}
.col-6.zyo-box-last{border-top:none;}
.col-6.zyo-box-last+.col-6.zyo-box-last{border-top: none;border-right:none;border-left:1px solid lightgray;margin-left:-1px;padding-left:10px;margin-right:-10px;}
.zyo-box-last+.zyo-box-last+.zyo-box-last{border-top:1px solid lightgray;border-bottom: none;border-left: none;margin-left: 0;padding-left:0;margin-right:0;}
.zyo-box-last+.zyo-box-last+.zyo-box-last+.zyo-box-last{border-top:1px solid lightgray;border-bottom: none;border-left:1px solid lightgray;margin-left:-1px;padding-left:10px;margin-right:-10px;}
.box-160{min-height: 60px;padding-left:10px;padding-right:10px;}
.box-200{min-height: 80px;padding-left:10px;padding-right:10px;}
.box-88{min-height: 22px;padding-left:10px;padding-right:10px;}
.zyo-h{color: #999999;}
.zyo-h1{font-size: 17px;}
.zyo-h2{font-size: 15px;}
.zyo-h3{font-size: 13px;}
.zyo-h4{font-size: 12px;}
.text-gray{color: #666666;}
.text-white{color: #ffffff;}
.text-black{color: #000000;}
.text-blue{color: #2cadf0;}
.text-info{color: #4ebef7;}
.text-success{color: #73c034;}
.text-warning{color: #fda341;}
.text-error{color: #eb5984;}
.container{padding: 0 10px;}
.col-0, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-9, .col-10, .col-11, .col-12{float: left;min-height:1px;}
.col-0{width: 0%;}
.col-1{width: 8.3%;}
.col-2{width: 16.7%;}
.col-3{width: 25%;}
.col-4{width: 33.3%;}
.col-5{width: 41.7%;}
.col-6{width: 50%;}
.col-7{width: 58.3%;}
.col-8{width: 66.7%;}
.col-9{width: 75%;}
.col-10{width: 83.3%;}
.col-11{width: 91.7%;}
.col-12{width: 100%;}
.row-0{height: 0%;}
.row-1{height: 8.3%;}
.row-2{height: 16.7%;}
.row-3{height: 25%;}
.row-4{height: 33.3%;}
.row-5{height: 41.7%;}
.row-6{height: 50%;}
.row-7{height: 58.3%;}
.row-8{height: 66.7%;}
.row-9{height: 75%;}
.row-10{height: 83.3%;}
.row-11{height: 91.7%;}
.row-12{height: 100%;}
.last-right-lightgray{border-left:1px solid lightgray;margin-left: -1px;}
.btn,.btn:hover{border: none;outline: none;border-radius: 5px;padding: 10px;display: inline-block;min-width: 4em;}
.btn:active{shape-inside: 1px solid lightgray;box-shadow: 1px solid red;color: gray;box-shadow:1px 1px 1px 1px gray;opacity: .75;}
.btn-default{border: 1px solid lightgray;margin: -1px;background: white;color: black;}
.btn-block{width: 100%;margin: 0 auto;}
.btn-zyo-yes,.btn-zyo-yes:hover{background: rgb(167,212,69);color: white;}
/*.btn-zyo-yes:active{background: rgb(167,212,169);}*/
.btn-zyo-info,.btn-zyo-info:hover{background: #2cadf0;color: white;}
/*.btn-zyo-info:active{background: #2cad8f;}*/
.red-tip-lg{width: 1.5em;height: 1.5em;padding: 0;margin: 0;margin-right: 0em;text-align: center;background: red;border: none;border-radius: 2em;font-size: .5em;color: white;}
.bg-forward-right{background: url(../img/icon_more_rightforward.png) no-repeat center;min-height: 1em;}
/*****endof zy style*****/

body.index{min-height: 100%;}
.geo-menu{padding-top: 0;}
#allmap{max-width: 100%;min-height: 360px;margin-top: 0;}

@media (min-width: 768px){
    html, body{max-width: 640px;margin:0 auto;overflow: auto;font-size: .9rem;}
}
