@import "https://cdn.bootcss.com/material-design-lite/1.3.0/material.min.css";
/* @import "https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css"; */

html, body{
  /* background:url(/img/cdbg_1010.png) repeat center;background-size: 15px; */
  background: whitesmoke;
  margin: 0;padding: 0;
  -webkit-overflow-scrolling: touch;
}
html{
  font-family: sans-serif;
}
html *{
  font-family: inherit;
}
::-webkit-scrollbar{
  width: 0;
}

.index-sec{
  background-color: lightseagreen;
  background: linear-gradient(120deg, lightseagreen, #159957);
  background: -webkit-linear-gradient(330deg, #20B2A9, #159957);
}
.navbar{
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.footer-index{
  _height: 100%;
  min-height: 100%;
  position: relative;
}
.footer-container{
  /* bottom: 0; */
  position: absolute;
  width: 100%;
  background-color: lightsteelblue;
  /* background: linear-gradient(lightseagreen,transparent);
  background: -webkit-linear-gradient(lightseagreen, transparent); */
}

@media(min-width: 768px){
  .index-sec, .footer-index{
    margin: 0 auto;
  }
}
